APP_NAME=NH MDM API
APP_ENV=local
API_PREFIX=/api
CORS_ORIGINS=http://localhost:8081,http://localhost:19006

KAKAO_REST_API_KEY=
KAKAO_REDIRECT_URI=http://127.0.0.1:8000/api/kakao/callback
KAKAO_APP_RETURN_URL=
KAKAO_CLIENT_SECRET=

JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256

DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/nh
DATABASE_SCHEMA=nh
